body{padding:50px;font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;background-image:url("../images/subtle_dots.png");}
@media all and (-webkit-min-device-pixel-ratio: 1.5){body{background-image:url("../images/subtle_dots@2x.png");-webkit-background-size:auto auto;-moz-background-size:auto auto;background-size:auto auto}
}a{color:#00b7ff}
header,footer{text-align:center;margin:1.6em 0}
header h1{font-size:2.4rem}
#container{margin:0 auto;width:480px}
#texts,#info{padding:0;list-style-type:none}
#texts li{-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px -1px 1px rgba(0,0,0,0.1);box-shadow:0 1px -1px 1px rgba(0,0,0,0.1);padding:2em;background:#fff}
#info{zoom:1;}
#info:before,#info:after{content:"";display:table}
#info:after{clear:both}
#info li{float:left;width:33.33%}
